<div>
  <header class="auth-header"></header>
  <div class="auth-form d-flex flex-column align-items-center">
    <h1 class="auth-title">Sign Up</h1>
    <div class="card col-6 col-md-4 col-xl-3 p-4">
      <form @submit.prevent="onSubmit">
        <input
          class="col-12 auth-input p-1 mt-2 mb-2"
          placeholder="Email"
          v-model="model.email"
        />
        <input
          class="col-12 auth-input p-1 mt-2 mb-2"
          placeholder="Name"
          v-model="model.name"
        />
        <input
          class="col-12 auth-input p-1 mt-2 mb-2"
          placeholder="Last Name"
          v-model="model.lastname"
        />
        <input
          class="col-12 auth-input p-1 mt-2 mb-2"
          placeholder="Age"
          v-model="model.age"
          type="number"
        />
        <input
          class="col-12 auth-input p-1 mt-2 mb-2"
          placeholder="Address"
          v-model="model.address"
        />
        <input
          class="col-12 auth-input p-1 mt-2 mb-2"
          placeholder="Password"
          type="password"
          v-model="model.password"
        />
        <button @click="register" class="col-6 btn-block btn-primary">
          Sign up
        </button>
      </form>
      <p>
        Already have an account?
        <router-link to="/login">Log In</router-link>
      </p>
    </div>
  </div>
</div>
